<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="assets/favicon.ico">

  <title>RichText Sandbox</title>
</head>
<body>
<div class="container">
  <h1>
    <i class="material-icons">branding_watermark</i>
    Richtext Editor Prototype
  </h1>

  <div class="editor-container card">
    <h2>Multi Editor Test: Editor 1</h2>
    <hr>
    <div class="richtext-editor">
      <h1>Heading 1</h1>
      <p>
        I get ideas about what's essential when packing my suitcase. Women are women, and hurray for that. I try to
        contrast; life today is full of contrast... We have to change. I have my favourite fashion decade, yes, yes,
        yes: '60s. It was a sort of little revolution; the clothes were amazing but not too exaggerated. Everything I do
        is a matter of heart, body and soul.
      </p>
      <blockquote>
        This is a famous quote by someone!
      </blockquote>
      <h2>Heading 2</h2>
      <p>
        I still appreciate individuality. Style is much more interesting than fashion, really. Sometimes the simplest
        things are the most profound. I believe in comfort. If you don't feel comfortable in your clothes, it's hard to
        think of anything else. You have to stay true to your heritage; that's what your brand is about. I love women's
        fashion, but women don't need me as much as men do. It's the men who have nothing to wear.
      </p>
      <p>
        Elegance is not the prerogative of those who have just escaped from adolescence, but of those who have already
        taken possession of their future. It is difficult to talk about fashion in the abstract, without a human body
        before my eyes, without drawings, without a choice of fabric - without a practical or visual reality. Brides
        today are increasingly sensitive to the tastes, feelings and finances of their attendants. All I did my first
        year at Vogue was Xerox. I wanted to dress the woman who lives and works, not the woman in a painting.
      </p>
      <ul>
        <li>eins</li>
        <li>zwei</li>
      </ul>
    </div>
  </div>

  <div class="editor-container card">
    <h2>Multi Editor Test: Editor 2</h2>
    <hr>
    <div class="richtext-editor">
    </div>
  </div>

  <div class="debug card card-2">
    <h2>Debug</h2>
    <div id="raw-code"></div>
  </div>
</div>
</body>
</html>
