@import "~compass-mixins";
@import "richtext-editor";

body {
  font-family: Roboto, sans-serif;
  background-color: #ececec;
}

.container {
  max-width: 1280px;
  margin: 0 2rem;
}

.editor-container {
  background-color: #fff;
  min-height: 300px;
  padding: 2rem;
  margin: 1rem 0;
}

.debug {
  position: fixed;
  width: 350px;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 600px;
}

#raw-code {
  background-color: #ececec;
  font-family: 'Inconsolata', monospace;
  padding: 2rem;
}

.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}