.richtext-editor {
  outline: 0 solid transparent;
  font-size: 18px;

  p, h1, h2, h3, ul, ol {
    margin: 1rem 0 1rem 2rem;
  }

  p {
    line-height: 1.5rem;

  }

  p:focus {
    outline: 0 solid transparent;
  }

  blockquote {
    padding: 0 1rem;
    margin: 3rem 0 3rem 2rem;
    border-left: solid 3px #7d7d7d;
  }

  .slate {
    margin: 1rem 0 1rem 2rem;
    border: dotted 1px #7d7d7d;
    user-select: all;
    position: relative;

    i.close {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .slate-add {
    button {
      width: 25%;
      font-size: 16px;
      height: 46px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      i {
        position: relative;
        top: 3px;
        margin-right: 10px;
      }
      span {
        position: relative;
        top: -3px;
      }
    }
    button:hover {
      background-color: #ececec;
    }
    button:focus {
      outline: 0 solid transparent;
    }
  }

  .slate-frame {
    border: solid 24px #eaeaea;
    text-align: center;
    vertical-align: middle;
    padding:  5rem;
  }

  .slate-frame:hover {
    border-color: #f6f6f6;
    content: 'hahahah';
  }
}

.richtext-editor-tooltip {
  position: absolute;
  background-color: #fff;
  display: none;
  color: #7d7d7d;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.richtext-editor-toolbar {
  position: fixed;
  top: 0;
  left: 700px;
  background-color: #fff;

  button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 46px;
    padding: .6rem;

    i {
      position: relative;
      top: 3px;
    }
    span {
      position: relative;
      top: -3px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  button:hover {
    background-color: #ececec;
  }
  button:focus {
    outline: 0 solid transparent;
  }
  button[disabled="disabled"] {
    cursor: default;
  }
  button[disabled="disabled"]:hover {
    background-color: transparent;
  }
  button[data-active="active"] {
    color: #4169e1;
    background-color: #ececec;
  }
}
